%fieldset
  %legend Guys, are we done yet?
  = form_for @project, url: project_forecast_index_path(params[:project_id]), method: :get do |f|
    = f.hidden_field :api_key
    = f.hidden_field :id
    .span12
      = render 'layouts/errors', target: @project
    .span5
      %p
        %label{:for => "week_hours"} Work hours/sprint:
        = text_field_tag :week_hours, params[:week_hours] || '128', size: '7'
      %p
        %label{:for => "bug_size"} Default bug size:
        = text_field_tag :bug_size, params[:bug_size] || '4', size: '7'
        hours
    .span5
      %p
        %label{:for => "story_size"} Default story size:
        = text_field_tag :story_size, params[:story_size] || '16', size: '7'
        hours
      %p
        %label{:for => "sprint_size"} Sprint length:
        = text_field_tag :sprint_size, params[:sprint_size] || '14', size: '7'
        days
      
    .form-actions.span12{style: 'text-align: center;'}
      = button_tag "Project manage", class: 'btn btn-primary', disable_with: "Managing Project..."
- if @items_by_week.blank?
- else
  %fieldset
    %legend Results
    %p= link_to "Export to CSV", current_url(format: :csv ), class: 'export_excel'
    - @items_by_week.each do |week, items|
      %h2
        Starting #{week.to_s(:short)}
      %table.table.table-striped
        %thead
          %tr
            %th.span1 #
            %th.span1 Size
            %th.span2 Type
            %th Description
            %th.span2 Owner
        %tbody
          - items.each do |i|
            %tr
              %td= link_to i['id'], "https://agilezen.com/project/#{params[:project_id]}/story/#{i['id']}", :target => "_blank"
              %td= i.size
              %td= i.story_type
              %td= truncate i['text'], length: 80
              %td= i['owner'].blank? ? '' : i['owner']['name']
        %tfooter
          %tr
            %th.span5{colspan: '3'}
              Stories in sprint:
              = items.size
            %th.span5{colspan: '2'}
              Size of stories in sprint:
              = items.sum{|i| i.size}
              hours
      %br