%fieldset
  %legend Guys, are we done yet?
  = form_tag forecast_index_path, :method => 'get' do
    %p
      %label{:for => 'api_key'} API key:
      = text_field_tag :api_key, params[:api_key] || ''
    %p
      %label{:for => 'project_id'} Project id:
      = text_field_tag :project_id, params[:project_id] || ''
    %p
      %label{:for => 'phase_id'} Phase id:
      = text_field_tag :phase_id, params[:phase_id] || ''
    %p
      %em Get phase ids for your project from https://agilezen.com/api/v1/projects/{project_id}/phases.xml?apikey={api_key}
    %p
      %label{:for => "week_hours"} Work hours/sprint:
      = text_field_tag :week_hours, params[:week_hours] || '128', :size => '7'
    %p
      %label{:for => "bug_size"} Default bug size:
      = text_field_tag :bug_size, params[:bug_size] || '4', :size => '7'
      hours
    %p
      %label{:for => "story_size"} Default story size:
      = text_field_tag :story_size, params[:story_size] || '16', :size => '7'
      hours
    %p
      %label{:for => "sprint_size"} Sprint length:
      = text_field_tag :sprint_size, params[:sprint_size] || '14', :size => '7'
      days

    %p.buttons
      = button_tag "Project manage", :class => "brockhill btn-primary", :disable_with => "Managing Project..."
- if @items_by_week.blank?
- else
  %fieldset
    %legend Results
    %p= link_to "Export to CSV", current_url(:format => :csv ), :class => 'export_excel'
    - @items_by_week.each do |week, items|
      %h2
        Starting #{week.to_s(:short)}
      %table
        %thead
          %tr
            %th #
            %th Size
            %th Type
            %th Description
            %th Owner
        - items.each do |i|
          %tbody
            %tr
              %td= link_to i['id'], "https://agilezen.com/project/#{params[:project_id]}/story/#{i['id']}", :target => "_blank"
              %td= i.size
              %td= i.story_type
              %td= truncate i['text'], :length => 80
              %td= i['owner'].blank? ? '' : i['owner']['name']
        %tfooter
          %tr
            %th.span5{:colspan => '3'}
              Stories in sprint:
              = items.size
            %th.span5{:colspan => '2'}
              Size of stories in sprint:
              = items.sum{|i| i.size}
      %br/